<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rust and Redemption</title>
    {{!-- <link rel="stylesheet" href="/tailwind.config.js"> --}}
    <link rel="stylesheet" href="/public/css/style.css">
</head>


<body class="bg-stone text-emerald text-center">
    <header class="bg-stone p-8">
        <h1 class="text-emerald text-3xl font-semibold">Rust and Redemption</h1>
    </header>

    <main class="container mx-auto mt-4 p-4">
        {{{body}}}
    </main>



    <footer class="bg-stone p-4 text-center pt-10">
        &copy; 2023 Rust and Redemption
    </footer>
</body>
</html>
