{{!< main}}

{{!-- Content specific to the login page --}}
<section class="bg-stone shadow-lg rounded-lg p-8 text-emerald">
    <h2 class="text-3xl font-semibold mb-4">Login</h2>
    <form class="form login-form">
        <div class="form-group">
            <label for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login" name="email" />
        </div>
        <div class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" name="password" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</section>


<script src="/public/js/signup.js"></script>